<div id="call-graph"></div>
<script type="text/javascript">
    var flamegraph = d3.flamegraph();
    flamegraph
        .inverted(true)
        .width(document.querySelector('main').clientWidth)
        .label(function(d) {
            return d.data.name + ' (' + (100 * (d.x1 - d.x0)).toFixed(2) + '%, ' + d.data.value + ' ms)'
        })
    d3.select("#call-graph")
        .datum({{ section.graph.toString()|raw }})
        .call(flamegraph);
</script>
